@use '../config.scss' as *;
@use '../type/styles.scss' as *;
@use '../utilities/css-variable.scss' as cv;

.#{$prefix}-dl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 0.5rem;
  margin: 0;
  inline-size: 100%;
}

.#{$prefix}-dl__term {
  margin: 0;
  @include type-style('heading-01');
  color: cv.get-var('text-secondary');
}

.#{$prefix}-dl__description {
  font-style: normal;
  margin: 0;
  @include type-style('body-01');
}
