@use '../config.scss' as c;

.#{c.$prefix}-dl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 0.5rem;
  margin: 0;
  inline-size: 100%;
}

.#{c.$prefix}-dl__term {
  margin: 0;
  color: var(--#{c.$prefix}-text-secondary);
  font-size: var(--#{c.$prefix}-heading-compact-01-font-size, 0.875rem);
  font-weight: var(--#{c.$prefix}-heading-compact-01-font-weight, 400);
  line-height: var(--#{c.$prefix}-heading-compact-01-line-height, 1.28572);
  letter-spacing: var(--#{c.$prefix}-heading-compact-01-letter-spacing, 0.16px);
}

.#{c.$prefix}-dl__description {
  font-style: normal;
  margin: 0;
  font-size: var(--#{c.$prefix}-body-compact-01-font-size, 0.875rem);
  font-weight: var(--#{c.$prefix}-body-compact-01-font-weight, 400);
  line-height: var(--#{c.$prefix}-body-compact-01-line-height, 1.125);
  letter-spacing: var(--#{c.$prefix}-heading-compact-01-letter-spacing, 0.16px);
}
