@use '../config.scss' as c;

h1,
.#{c.$prefix}-heading {
  font-size: var(--cds-heading-06-font-size, 2.625rem);
  font-weight: var(--cds-heading-06-font-weight, 300);
  line-height: var(--cds-heading-06-line-height, 1.199);
  letter-spacing: var(--cds-heading-06-letter-spacing, 0);
}

.#{c.$prefix}-heading-03 {
  font-size: var(--cds-heading-04-font-size, 1.25rem);
  font-weight: var(--cds-heading-04-font-weight, 400);
  letter-spacing: var(--cds-heading-04-letter-spacing, 0);
  line-height: var(--cds-heading-04-line-height, 1.75);
}
