@use '../config.scss' as c;

.#{c.$prefix}-metrics-wheel {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 7rem;
        height: 7rem;
    }

    &__circle {
        stroke-width: 10;
        stroke-linecap: round;
        fill: transparent;
        transition: stroke-dashoffset 0.5s ease-in-out;
    }

    &__label {
        font-weight: bold;
        text-anchor: middle;
        dominant-baseline: middle;
        font-size: 0.875rem;
        letter-spacing: 0.16px;
    }

    // &--indicator {
    //     .#{c.$prefix}-metrics-wheel__circle {
    //         // stroke: var(--#{c.$prefix}-indicator-color, red);
    //         // stroke: red;
    //     }
    // }
}