@use '../config.scss' as *;
@use '../type/styles.scss' as types;
@use '../utilities/css-variable.scss' as cv;

.#{$prefix}-tile {
  @include types.type-style('body-01');
  position: relative;
  display: block;
  padding: 1rem;
  min-block-size: 4rem;
  min-inline-size: 8rem;
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-offset: -2px;
  background-color: cv.get-var('layer');
  border-radius: 0.25rem;
}
