AUTH_SECRET=
AUTH_ISSUER=
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
AUTH_AUDIENCE=
NEXT_PUBLIC_ROR_API_URL=
NEXT_PUBLIC_MOCKING_ENABLED=false
NEXT_PUBLIC_VMS_ENABLED=true # Set to true to enable the Virtual Machines section in the sidebar
