COMPOSE_PROJECT_NAME=ror-web
ROR_BUILD_TAG="latest"
ROR_REPO="ghcr.io/norskhelsenett/"
CONTAINER_REGISTRY=""
DOCKER_MIRROR=""
GCR_MIRROR=""
DOCKER_VOLUME_PATH="~/.rormounts"
RABBITMQ_TAG="4-management-alpine"