@use '../type/styles.scss' as types;
@use '../utilities/custom-properties.scss' as cv;

@layer components {
  .r-breadcrumb {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    @include types.type-style('body-01');
    display: inline;
  }

  .r-breadcrumb__item {
    position: relative;
    display: flex;
    align-items: center;
    margin-inline-end: 0.5rem;

    &::after {
      box-sizing: inherit;
      color: cv.get-var('text-primary');
      content: '/';
      margin-inline-start: 0.5rem;
    }

    &:last-child,
    &:last-child::after {
      margin-inline-end: 0;
    }
  }

  .r-breadcrumb__link {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    @include types.type-style('body-01');
    display: inline-flex;
    color: cv.get-var('text-primary');
    outline: none;
    text-decoration: none;
    transition: color 70ms cubic-bezier(0.2, 0, 0.38, 0.9);

    &[href] {
      color: cv.get-var('link-primary');
    }
  }

  .r-breadcrumb--no-trailing-slash .r-breadcrumb__item:last-child::after {
    content: '';
  }

  @media (min-width: 42rem) {
    .r-breadcrumb {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
