@use '../utilities/custom-properties.scss' as *;
@use '../utilities/convert.scss';
@use '../type/styles.scss' as type;
@use '../type/font-family.scss' as ff;

@layer components {
  .r-icon-indicator {
    --icon-color: #{get-var('icon-secondary')};
    --icon-size: #{convert.to-rem(16px)};
    display: flex;
    align-items: center;
    color: get-var('text-primary');

    &__icon {
      align-self: center;
      margin-inline-end: 0.5rem;
      block-size: var(--icon-size);
      inline-size: var(--icon-size);
      color: var(--icon-color);
    }

    &__label {
      display: inline-flex;
    }
  }

  .r-icon-indicator--sm {
    --icon-size: #{convert.to-rem(16px)};
    @include type.type-style('label-01');
  }

  .r-icon-indicator--md {
    --icon-size: #{convert.to-rem(20px)};
    @include type.type-style('label-02');
  }

  .r-icon-indicator--failed {
    --icon-color: #{get-var('support-error')};
  }

  .r-icon-indicator--caution-major {
    --icon-color: #{get-var('support-caution-major')};
  }

  .r-icon-indicator--caution-minor {
    --icon-color: #{get-var('support-caution-minor')};
  }

  .r-icon-indicator--undefined {
    --icon-color: #{get-var('support-caution-undefined')};
  }

  .r-icon-indicator--succeeded {
    --icon-color: #{get-var('support-success')};
  }

  .r-icon-indicator--normal,
  .r-icon-indicator--in-progress,
  .r-icon-indicator--incomplete,
  .r-icon-indicator--informative {
    --icon-color: #{get-var('support-info')};
  }
}
