@use '../utilities/custom-properties.scss' as *;
@use '../utilities/convert.scss';
@use '../type/styles.scss' as type;
@use '../type/font-family.scss' as ff;

@layer components {
  .r-severity-icon {
    --icon-color: #{get-var('icon-secondary')};
    --icon-size: #{convert.to-rem(16px)};
    display: flex;
    align-items: center;
    color: get-var('text-primary');

    &__icon {
      align-self: center;
      margin-inline-end: 0.5rem;
      block-size: var(--icon-size);
      inline-size: var(--icon-size);
      fill: var(--icon-color);
      stroke: var(--icon-color);
      stroke-width: 0px;
    }

    &__label {
      display: inline-flex;
    }
  }

  .r-severity-icon--sm {
    --icon-size: #{convert.to-rem(16px)};
    @include type.type-style('label-01');
  }

  .r-severity-icon--md {
    --icon-size: #{convert.to-rem(20px)};
    @include type.type-style('label-02');
  }
  .r-severity-icon--critical {
    --icon-color: #{get-var('severity-critical')};
  }

  .r-severity-icon--high {
    --icon-color: #{get-var('severity-high')};
  }

  .r-severity-icon--medium {
    --icon-color: #{get-var('severity-medium')};
  }

  .r-severity-icon--low {
    --icon-color: #{get-var('severity-low')};
  }

  .r-severity-icon--none {
    --icon-color: #{get-var('severity-none')};
  }

  .r-severity-icon--none .r-severity-icon__icon {
    fill: transparent;
    stroke-width: 2px;
  }
}
