@use '../config.scss' as *;
@use '../utilities/custom-properties.scss' as *;
@use '../utilities/convert.scss';
@use '../type/styles.scss' as type;
@use '../type/font-family.scss' as ff;

@layer components {
  /* Default table styles */
  .#{$prefix}-table-container {
    --table-background: transparent;
    --table-border-radius: #{convert.to-rem(4px)};
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'masthead masthead'
      'toolbar toolbar'
      'table table'
      'footer footer';
    column-gap: get-var('spacing-03');
  }

  .#{$prefix}-table__masthead {
    grid-area: masthead;
    background-color: var(--table-background);
    padding-block: get-var('spacing-05') 1.5rem;
    padding-inline: get-var('spacing-05');
    border-top-left-radius: var(--table-border-radius);
    border-top-right-radius: var(--table-border-radius);
  }

  .#{$prefix}-table__title {
    @include type.type-style('heading-03');
    margin: 0;
    color: get-var('text-primary');
    align-self: center;
  }

  .#{$prefix}-table__subtitle {
    @include type.type-style('body-01');
    margin: 0;
    color: get-var('text-secondary');
  }

  .#{$prefix}-table__toolbar {
    background-color: var(--table-background);
    display: flex;
    column-gap: get-var('spacing-03');
    align-items: center;
    grid-area: toolbar;
  }

  .#{$prefix}-table-overflow {
    position: relative;
    grid-area: table;
    overflow: auto;
  }

  /// If the table has a title, set a background color
  .#{$prefix}-table-container:has(.#{$prefix}-table__title) {
    --table-background: #{get-var('layer')};
  }

  /// if the table has a title, add some padding to the toolbar
  .#{$prefix}-table-container:has(.#{$prefix}-table__title) .#{$prefix}-table__toolbar {
    padding-inline: get-var('spacing-05');
    padding-block-end: get-var('spacing-05');
  }

  /// if the table has a title, remove border from search input
  .#{$prefix}-table-container:has(.#{$prefix}-table__title) .#{$prefix}-table__toolbar-search .r-search__input {
    border: 0 none;
    background: transparent;
  }

  /// if the table has a title, add bg color on the input for the following scenarios:
  /// - when the input is active and not disabled
  /// - when the input is not placeholder-shown
  /// - when the input is hovered and not disabled
  .#{$prefix}-table-container:has(.#{$prefix}-table__title) .r-search__input:active:not([disabled]),
  .#{$prefix}-table-container:has(.#{$prefix}-table__title) .r-search__input:not(:placeholder-shown),
  .#{$prefix}-table-container:has(.#{$prefix}-table__title)
    .#{$prefix}-table__toolbar-search
    .r-search__input:hover:not([disabled]) {
    background: get-var('field-hover');
  }

  /// If the table don't have a title BUT does have a toolbar, add some margin between the toolbar and the table
  .#{$prefix}-table-container:not(:has(.#{$prefix}-table__title)):has(.#{$prefix}-table__toolbar)
    .#{$prefix}-table-overflow {
    margin-block-start: get-var('spacing-05');
  }

  /* Table -------------------------------------------------------------------- */
  .#{$prefix}-table {
    --table-cell-x-padding: var(--cell-padding-inline, #{get-var('spacing-04')});
    --table-cell-y-padding: var(--cell-padding-block, #{get-var('spacing-03')});
    --table-cell-padding: var(--table-cell-y-padding) var(--table-cell-x-padding);
    --table-font-size: 0.75rem;
    display: grid;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    grid-area: table;
    grid-template-columns: var(--grid-template-columns);
    @include type.type-style('body-01');
    /* Density modes: condensed, normal, spacious */
    &--condensed {
      --cell-padding-block: #{get-var('spacing-03')};
      --cell-padding-inline: #{get-var('spacing-04')};
    }
    &--normal {
      --cell-padding-block: #{get-var('spacing-04')};
      --cell-padding-inline: #{get-var('spacing-05')};
    }
    &--spacious {
      --cell-padding-block: #{get-var('spacing-05')};
      --cell-padding-inline: #{get-var('spacing-06')};
    }
  }

  .#{$prefix}-table__header,
  .#{$prefix}-table__cell {
    display: flex;
    padding: var(--table-cell-padding);
    text-align: start;
    align-items: center;
  }

  .#{$prefix}-table__header:where([data-cell-align='end']),
  .#{$prefix}-table__cell:where([data-cell-align='end']) {
    display: flex;
    text-align: end;
    justify-content: flex-end;
  }

  .#{$prefix}-table__header[data-cell-align='end'] .#{$prefix}-table__sort-btn {
    display: flex;
    flex-direction: row-reverse;
  }

  /* Border radius */
  .#{$prefix}-table__head .#{$prefix}-table__row:first-of-type .#{$prefix}-table__header:first-child {
    border-top-left-radius: var(--table-border-radius);
  }

  .#{$prefix}-table__head .#{$prefix}-table__row:first-of-type .#{$prefix}-table__header:last-child {
    border-top-right-radius: var(--table-border-radius);
  }

  .#{$prefix}-table-container:not(.#{$prefix}-table-container--with-pagination)
    .#{$prefix}-table
    .#{$prefix}-table__body
    .#{$prefix}-table__row:last-of-type
    .#{$prefix}-table__cell:first-child {
    border-bottom-left-radius: var(--table-border-radius);
  }

  .#{$prefix}-table-container:not(.#{$prefix}-table-container--with-pagination)
    .#{$prefix}-table
    .#{$prefix}-table__body
    .#{$prefix}-table__row:last-of-type
    .#{$prefix}-table__cell:last-child {
    border-bottom-right-radius: var(--table-border-radius);
  }

  /* Table header */
  .#{$prefix}-table__header {
    color: get-var('text-primary');
    background-color: get-var('layer-accent');
    font-weight: ff.font-weight('semibold');
  }

  .#{$prefix}-table__header:where([aria-sort='descending']),
  .#{$prefix}-table__header:where([aria-sort='ascending']) {
    color: get-var('text-primary');
    background-color: get-var('layer-selected-hover');
  }

  .#{$prefix}-table__header:hover:has(.#{$prefix}-table__sort-btn),
  .#{$prefix}-table__header:hover:has(.#{$prefix}-table__sort-btn) {
    background-color: get-var('layer-selected-hover');
  }

  /* Table body */
  .#{$prefix}-table__body {
  }

  /* Table cell */
  .#{$prefix}-table__cell {
    background-color: get-var('layer');
  }

  .#{$prefix}-table .#{$prefix}-table__body .#{$prefix}-table__row:not(:last-of-type) .#{$prefix}-table__cell {
    border-bottom: 1px solid get-var('border-subtle');
  }

  /* Control visibility of sort icons */
  .#{$prefix}-table__sort-icon {
    width: convert.to-rem(20px);
    height: convert.to-rem(20px);
    visibility: hidden;
  }

  /* The sort icon is visible if the header is sortable and is hovered or focused */
  .#{$prefix}-table__header:hover .#{$prefix}-table__sort-icon,
  .#{$prefix}-table__header .#{$prefix}-table__sort-btn:focus .#{$prefix}-table__sort-icon {
    visibility: visible;
  }

  /* Each sort icon is visible if the TableHeader is currently in the corresponding sort state */
  .#{$prefix}-table__header[aria-sort='ascending'] .#{$prefix}-table__sort-icon--ascending,
  .#{$prefix}-table__header[aria-sort='descending'] .#{$prefix}-table__sort-icon--descending {
    visibility: visible;
  }

  .#{$prefix}-table__cell:where([scope='row']) {
    display: flex;
    font-weight: ff.font-weight('semibold');
    color: get-var('text-primary');
    align-items: center;
  }

  .#{$prefix}-table__sort-btn {
    --btn-height: auto;
    padding: 0;
    border: 0 none;
    column-gap: 0.5rem;
    inline-size: 100%;
    block-size: 100%;
    justify-content: flex-start;
    font-weight: inherit;
    color: inherit;
    background: transparent;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
    }
  }

  /* Grid layout */
  .#{$prefix}-table__head,
  .#{$prefix}-table__body,
  .#{$prefix}-table__row {
    display: contents;
  }

  @supports (grid-template-columns: subgrid) {
    .#{$prefix}-table__head,
    .#{$prefix}-table__body,
    .#{$prefix}-table__row {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: -1 /1;
    }
  }
}
