@use 'sass:map';
@use '../config.scss' as c;

$sizes: (
  "sm": (tagHeight: 1.125rem, xPadding: 0.5rem, crossPaddingRight: 1px, iconMargin: 0.25rem),
  "md": (tagHeight: 1.5rem, xPadding: 0.5rem, crossPaddingRight: 0.25rem, iconMargin: 0.25rem),
  "lg": (tagHeight: 2rem, xPadding: 0.75rem, crossPaddingRight: 0.5rem, iconMargin: 0.5rem)
);

.#{c.$prefix}-tag {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  border-radius: calc(infinity * 1px);
  width: fit-content;

  svg {
    height: 1rem;
    width: 1rem;
  }

  @each $size, $values in $sizes {
    &--#{$size} {
      height: map.get($values, "tagHeight");
      padding: 0 map.get($values, "xPadding");

      &.#{c.$prefix}-tag--dismissible {
        padding-right: map.get($values, "crossPaddingRight");
      }

      .#{c.$prefix}-tag--x {
        margin-left: map.get($values, "xPadding");
      }
      
      &.#{c.$prefix}-tag--has-icon {
        padding-left: map.get($values, "iconMargin");
      }

      .#{c.$prefix}-tag--icon-container {
        margin-right: map.get($values, "iconMargin");
      }
    }
  }
}