@use 'sass:map';
@use '../config.scss' as *;
@use '../utilities/custom-properties.scss' as *;
@use '../utilities/convert.scss';
@use '../spacing.scss' as spacing;


$sizes: (
  "sm": (tagHeight: 1.125rem, xPadding: spacing.$spacing-03, crossPaddingRight: 1px, iconMargin: spacing.$spacing-02),
  "md": (tagHeight: 1.5rem, xPadding: spacing.$spacing-03, crossPaddingRight: spacing.$spacing-02, iconMargin: spacing.$spacing-02),
  "lg": (tagHeight: 2rem, xPadding: spacing.$spacing-04, crossPaddingRight: spacing.$spacing-03, iconMargin: spacing.$spacing-03)
);

.#{$prefix}-tag {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  border-radius: calc(infinity * 1px);
  width: fit-content;

  svg {
    height: 1rem;
    width: 1rem;
  }

  @each $size, $values in $sizes {
    &--#{$size} {
      height: map.get($values, "tagHeight");
      padding: 0 map.get($values, "xPadding");

      &.#{$prefix}-tag--dismissible {
        padding-right: map.get($values, "crossPaddingRight");
      }

      .#{$prefix}-tag__remove-icon {
        margin-left: map.get($values, "xPadding");
      }
      
      &.#{$prefix}-tag--has-icon {
        padding-left: map.get($values, "iconMargin");
      }

      .#{$prefix}-tag--icon-container {
        margin-right: map.get($values, "iconMargin");
      }
    }
  }

  @each $color in ('red', 'orange', 'yellow', 'green', 'blue', 'purple', 'pink', 'gray') {
    &--#{$color} {
      background-color: #{get-var('#{$color}')};
    }
  }

  &--neutral {
    background-color: #{get-var('background-hover')};
  }

  &--selectable {
    border-width: 2px;
    cursor: pointer;
  
    &:hover {
      background-color: #{get-var('background-active')};
    }

    &.r-tag--inactive {
      background-color: #{get-var('background-inverse')}; 
      color: #{get-var('background-hover')};
      border: 2px solid transparent; 

      &:hover {
        background-color: #{get-var('background-inverse-hover')};
      }
    }
  }
}