@use 'sass:map';
@use '../utilities/custom-properties.scss' as *;
@use '../utilities/convert.scss';
@use '../spacing.scss' as spacing;
@use '../type/styles.scss' as type;
@use '../layout.scss' as layout;

$sizes: (
  'sm': (
    height: convert.to-rem(18px),
    xPadding: spacing.$spacing-03,
    crossPaddingRight: 1px,
    iconMargin: spacing.$spacing-02,
  ),
  'md': (
    height: convert.to-rem(24px),
    xPadding: spacing.$spacing-03,
    crossPaddingRight: spacing.$spacing-02,
    iconMargin: spacing.$spacing-02,
  ),
  'lg': (
    height: convert.to-rem(32px),
    xPadding: spacing.$spacing-04,
    crossPaddingRight: spacing.$spacing-03,
    iconMargin: spacing.$spacing-03,
  ),
);

.r-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2em;
  width: fit-content;
  @include type.type-style('label-01');

  /// restricts size of contained elements
  max-inline-size: convert.to-rem(208px);

  svg {
    height: 1rem;
    width: 1rem;
  }

  @each $size, $values in $sizes {
    &--#{$size} {
      height: map.get($values, 'height');
      padding: 0 map.get($values, 'xPadding');

      &.r-tag--dismissible {
        padding-right: map.get($values, 'crossPaddingRight');
      }

      .r-tag__remove-icon {
        margin-left: map.get($values, 'xPadding');
      }

      &.r-tag--has-icon {
        padding-left: map.get($values, 'iconMargin');
      }

      .r-tag__icon-container {
        margin-right: map.get($values, 'iconMargin');
      }
    }
  }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @each $color in ('red', 'orange', 'yellow', 'green', 'blue', 'purple', 'pink', 'gray') {
    &--#{$color} {
      background-color: #{get-var('tag-#{$color}')};
      color: #{get-var('tag-text-#{$color}')};
    }
  }

  &--neutral {
    background-color: #{get-var('background-hover')};
  }

  &--selectable {
    background: #{get-var('layer')};
    color: #{get-var('text-primary')};
    border: 1px solid #{get-var('border-inverse')};
    cursor: pointer;

    &:hover {
      background-color: #{get-var('background-active')};
    }
  }

  /// selected is only applicable when the tag is selectable (--selectable)
  &--selected {
    background-color: #{get-var('background-inverse')};
    color: #{get-var('background-hover')};
    border: 2px solid transparent;

    &:hover {
      background-color: #{get-var('background-inverse-hover')};
    }
  }

  /// Tags that are longer then the specified "max-inline-size" should be truncated with ellipsis.
  &--operational > *:first-child,
  &--selectable > *:first-child,
  &__label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
