.item {
  --menu-item-hover-bg: var(--r-layer-hover);
  --menu-item-gap: var(--spacing-4);
  --menu-item-x-padding: var(--spacing-3);
  --menu-item-y-padding: var(--spacing-2);
}

.trigger,
.menuItem {
  display: flex;
  align-items: center;
  gap: var(--menu-item-gap);
  padding: var(--menu-item-y-padding) var(--menu-item-x-padding);
  min-height: 2rem;
  min-width: 2rem;
  border-radius: var(--radius-sm);
  color: var(--r-text-primary);
  cursor: pointer;
  font-size: var(--text-sm);
  position: relative;
}

.trigger {
  width: 100%;
}

.label {
  display: none;
  align-items: center;
  flex-grow: 1;
  column-gap: 0.5rem;
  font-size: var(--text-sm);
  font-weight: 400;
}

.icon {
  width: 1rem;
  height: 1rem;
  color: currentColor;
}

.caret {
  display: none;
  width: 0.75rem;
  height: 0.75rem;
  color: var(--r-icon-secondary);
  justify-self: flex-end;
}

.menuItem {
  cursor: pointer;
}

.trigger:hover,
.menuItem:hover,
.staticMenu a:hover {
  background: var(--menu-item-hover-bg);
}

.menuItem.active {
  background: var(--menu-item-hover-bg);
  font-weight: 500;
}

.menuItem.active::before {
  position: absolute;
  top: 4px;
  left: 4px;
  content: '';
  height: calc(100% - 8px);
  width: 3px;
  background: var(--color-teal-800);
  border-radius: 4px;
}

/// Make sure that icon does not shrink when the expansion of the left panel is toggled
.trigger svg,
.menuItem svg {
  flex-shrink: 0;
}

/// Static menu
.collapsed {
  display: none;
}

.staticMenu {
  margin-top: var(--spacing-1);
}

.staticMenu a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--menu-item-y-padding) var(--menu-item-x-padding) var(--menu-item-y-padding)
    /// Align the sub navigation label with the top level label
    /// x-padding + icon size + menu item gap
    calc(var(--menu-item-x-padding) + var(--spacing-5) + var(--menu-item-gap));
  font-size: var(--text-sm);
  border-radius: var(--radius-sm);
  height: 2rem;
}

/// Expanded state
.caret[data-expanded='true'] {
  transform: rotate(90deg);
}

/// Container queries - set on the whole left panel element
@container (width > 3rem) {
  .label,
  .caret {
    display: flex;
  }
}
