@use '@ror/styles/scss/layout';

.group {
}

.trigger {
  display: flex;
  align-items: center;
  gap: var(--menu-item-gap);
  padding: var(--menu-item-y-padding) var(--menu-item-x-padding);
  min-height: 2rem;
  min-width: 2rem;
  border-radius: var(--radius-sm);
  color: var(--r-text-primary);
  cursor: pointer;
  font-size: var(--text-sm);
  position: relative;
  width: 100%;
}

.label {
  display: none;
  align-items: center;
  flex-grow: 1;
  column-gap: 0.5rem;
  font-size: var(--text-sm);
  font-weight: 400;
}

.caret {
  display: none;
  width: 0.875rem;
  height: 0.875rem;
  color: var(--r-icon-secondary);
  justify-self: flex-end;
}

.trigger:hover {
  background: var(--menu-item-hover-bg);
}

/// Make sure that icon does not shrink when the expansion of the left panel is toggled
.trigger svg:not(.caret) {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  color: var(--r-icon-primary);
}

/// Expanded state
.caret[data-expanded='true'] {
  transform: rotate(90deg);
}

.flyout {
  background: var(--r-layer);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: var(--spacing-2);
  border-radius: var(--radius-sm);
}

/// Container queries - set on the whole left panel element
@container (width > 3rem) {
  .label,
  .caret {
    display: flex;
  }
}
