.nav {
  --menu-item-hover-bg: var(--r-layer-hover);
  --menu-item-gap: var(--spacing-4);
  --menu-item-x-padding: var(--spacing-3);
  --menu-item-y-padding: var(--spacing-2);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--r-spacing-01);
}
