@import 'tailwindcss';
/*---break---
 */
@custom-variant dark (&:is(.dark *));

/**
 * Configure theme variables for tailwind
 */
@theme {
  /* Breakpoints */
  --breakpoint-xs: 22.5rem;

  /* TODO: find better solution for spacing tokens */
  /* Override spacing to use our spacing tokens from @ror/styles */
  /* --spacing: inherit; /* for reference purposed this used to be 0.25rem/4px */
  /* --spacing-1: var(--r-spacing-01); */ /* 2px */
  /* --spacing-2: var(--r-spacing-02); */ /* 4px */
  /* --spacing-3: var(--r-spacing-03); */ /* 8px */
  /* --spacing-4: var(--r-spacing-04); */ /* 12px */
  /* --spacing-5: var(--r-spacing-05); */ /* 16px */
  /* --spacing-6: var(--r-spacing-06); */ /* 24px */
  /* --spacing-7: var(--r-spacing-07); */ /* 32px */
  /* --spacing-8: var(--r-spacing-08); */ /* 40px */
  /* --spacing-9: var(--r-spacing-09); */ /* 48px */
  /* --spacing-10: var(--r-spacing-10); */ /* 64px */
  /* --spacing-11: var(--r-spacing-11); */ /* 80px */
  /* --spacing-12: var(--r-spacing-12); */ /* 96px */
  /* --spacing-13: var(--r-spacing-13); */ /* 128px */
  /* --spacing-14: var(--r-spacing-14); */ /* 160px */

  /* For shadcn */
  --background: var(--r-background);
  --foreground: var(--r-background-inverse);
  --card: var(--r-background);
  --card-foreground: var(--r-background-inverse);
  --popover: var(--r-background);
  --popover-foreground: var(--r-background-inverse);
  --primary: var(--r-background-inverse-hover);
  --primary-foreground: var(--r-background-primary);
  --secondary: var(--r-background-hover);
  --secondary-foreground: var(--r-background-inverse-hover);
  --muted: var(--r-background-hover);
  --muted-foreground: var(--r-text-secondary);
  --accent: var(--r-background-hover);
  --accent-foreground: var(--r-background-inverse-hover);
  --destructive: light-dark(var(--color-red-500), var(--color-red-600));
  --destructive-foreground: light-dark(var(--color-red-500), var(--color-red-600));
  --border: var(--r-background-active);
  --input: var(--r-background-active);
  --ring: var(--r-border-strong-01);
  --chart-1: light-dark(var(--color-orange-500), var(--color-orange-600));
  --chart-2: light-dark(var(--color-cyan-500), var(--color-cyan-600));
  --chart-3: light-dark(var(--color-sky-500), var(--color-sky-600));
  --chart-4: light-dark(var(--color-yellow-500), var(--color-yellow-600));
  --chart-5: light-dark(var(--color-amber-500), var(--color-amber-600));
  --radius: 0.625rem;
  --sidebar: var(--r-background);
  --sidebar-foreground: var(--r-background-inverse);
  --sidebar-primary: var(--r-background-inverse-hover);
  --sidebar-primary-foreground: var(--r-background-primary);
  --sidebar-accent: var(--r-background-hover);
  --sidebar-accent-foreground: var(--r-background-inverse-hover);
  --sidebar-border: var(--r-background-active);
  --sidebar-ring: var(--r-border-strong-01);
  --sidebar-background: 0 0% 98%;

  @keyframes collapse-up {
    from {
      height: var(--radix-collapsible-content-height);
    }

    to {
      height: 0;
    }
  }

  @keyframes collapse-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  --animate-collapse-down: collapse-down 300ms ease-out;

  --animate-collapse-up: collapse-up 300ms ease-in;
}

@import '@evilmartians/harmony/tailwind.css';
@import 'tw-animate-css';

/**
* Create custom utility classes making use of our different tokens from @ror/styles
*/

@layer utilities {
  /* Background Utilities */
  .bg-background {
    background-color: var(--r-background);
  }
  .bg-background-hover {
    background-color: var(--r-background-hover);
  }
  .bg-background-active {
    background-color: var(--r-background-active);
  }
  .bg-background-selected {
    background-color: var(--r-background-selected);
  }
  .bg-background-selected-hover {
    background-color: var(--r-background-selected-hover);
  }
  .bg-background-inverse {
    background-color: var(--r-background-inverse);
  }
  .bg-background-inverse-hover {
    background-color: var(--r-background-inverse-hover);
  }
  .bg-background-accent {
    background-color: var(--r-background-accent);
  }

  /* Layer Utilities */
  .bg-layer {
    background-color: var(--r-layer);
  }
  .bg-layer-hover {
    background-color: var(--r-layer-hover);
  }
  .bg-layer-active {
    background-color: var(--r-layer-active);
  }
  .bg-layer-selected {
    background-color: var(--r-layer-selected);
  }
  .bg-layer-selected-hover {
    background-color: var(--r-layer-selected-hover);
  }
  .bg-layer-accent {
    background-color: var(--r-layer-accent);
  }
  .bg-layer-accent-hover {
    background-color: var(--r-layer-accent-hover);
  }
  .bg-layer-accent-active {
    background-color: var(--r-layer-accent-active);
  }

  /* Field Utilities */
  .bg-field {
    background-color: var(--r-field);
  }
  .bg-field-hover {
    background-color: var(--r-field-hover);
  }

  /* Border Utilities */
  .border-interactive {
    border-color: var(--r-border-interactive);
  }
  .border-subtle {
    border-color: var(--r-border-subtle);
  }
  .border-subtle-selected {
    border-color: var(--r-border-subtle-selected);
  }
  .border-strong {
    border-color: var(--r-border-strong);
  }

  /* Text Utilities */
  .text-primary {
    color: var(--r-text-primary);
  }
  .text-secondary {
    color: var(--r-text-secondary);
  }
  .text-placeholder {
    color: var(--r-text-placeholder);
  }
  .text-on-color {
    color: var(--r-text-on-color);
  }
  .text-inverse {
    color: var(--r-text-inverse);
  }
  .text-link {
    color: var(--r-link-primary);
  }
  .text-link:hover {
    color: var(--r-link-primary-hover);
  }

  /* Visual Utilities */
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  /* Hack to fix problem with popover layout being wrong inside of "@container" elements
  * This occurs for instance with tooltips
  * @see https://github.com/floating-ui/floating-ui/issues/3067
  */
  .\@container {
    contain: layout;
  }
}

/* For shadcn */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius: var(--radius);
  --color-sidebar: var(--background);
  --color-sidebar-foreground: var(--background-inverse);
  --color-sidebar-primary: var(--background-inverse-hover);
  --color-sidebar-primary-foreground: var(--background-primary);
  --color-sidebar-accent: var(--background-hover);
  --color-sidebar-accent-foreground: var(--background-inverse-hover);
  --color-sidebar-border: var(--background-active);
  --color-sidebar-ring: 0 0% 98%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
