.profile {
  --avatar-size: calc(var(--spacing) * 8);
  display: flex;
  gap: calc(var(--spacing) * 2);
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.avatar {
  display: flex;
  overflow: hidden;
  position: relative;
  shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  width: var(--avatar-size);
  height: var(--avatar-size);
  background: var(--r-background-hover);
}

.label {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  color: var(--r-icon-secondary);
}

.popover {
  background: var(--r-layer-01);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding: calc(var(--spacing) * 1);
  border-radius: var(--radius-sm);
  width: 15rem;
}
